/* Creates the Navbar */

nav {
  background-color: #a3dee3;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav img {
  height: 30px;
  margin-left: 20px;
}

#main_nav {
  margin-right: 30px;
  width: 150px;
}

.nav_link {
  text-decoration: none;
  color: white;
}

/* Creates the Banner */

.banner {
  background-image: url(../../images/park.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 350px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.banner h1 {
  font-family: verdana;
  font-style: normal;
  font-weight: lighter;
  font-size: 22px;
}

.dog1 {
  border-radius: 100%;
  border: 3px solid #538ba4;
  height: 220px;
  width: 220px;
}

.text1 {
  align-items: center;
  color: #538ba4;
  font-size: 14px;
  font-weight: lighter;
  background-color: white;
  padding: 3px;
  margin: 10px;
  border: 3px solid #538ba4;
}
